.color {
  display: inline-block;
  border: solid black 1px;
  height: 100px;
  width: 100px;
  margin: 5px;
}

.pixel {
  display: inline-block;
  height: 40px;
  width: 40px;
  border: solid black 1px;
  background-color: white;
}

